*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.25);
    overflow: visible;
}

:root {
    --white: #FFFFFF;
    --dark: #000000;
    --green: #00D865;
    --gray: #D9D9D9;
    --light: #939393;
    --light-dark: #747171;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    --border: 4px solid var(--green);
    --border-radius: 5px;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.625rem;
    letter-spacing: 0.145em;
    color: var(--white);


    @media(max-width: 1000px) {
        font-size: 2.2rem;
        line-height: 2.6rem;
    }

    @media(max-width: 768px) {
        font-size: 1.5rem;
        line-height: 1.81rem;
    }

    @media(max-width: 567px) {
        font-size: 0.875rem;
        width: 60%;
        text-align: center;
    }
}

h2 {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;

    @media (max-width: 768px) {
        font-size: 1.5rem;
        line-height: 1.375rem;
    }
}

h3 {
    font-size: 1.5rem;
    line-height: 1.81rem;

    @media (max-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    @media (max-width: 567px) {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

p {
    font-size: 1.5rem;
    line-height: 2.56rem;

    @media (max-width: 567px) {
        font-size: 1rem;
        line-height: 1.687rem;
    }
}

a {
    color: var(--dark);
    text-decoration: none;
}

button,
input {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1450px;

    @media (max-width: 567px) {
        padding: 0 1rem;
    }

}

.btn {
    width: 270px;
    height: 50px;
    margin: 0 auto;
    background-color: var(--green);
    border-radius: var(--border-radius);
    font-weight: 400;
    font-size: 1.5rem;
    transition: 0.3s ease;
    text-align: center;
    cursor: pointer;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: var(--white);
        text-decoration: none;
    }

    &:hover {
        font-size: 2rem;
        text-decoration: underline;
    }

    @media (max-width: 567px) {
        width: 100%;
    }
}

.body-active {
    overflow: hidden;
}

