*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  color: var(--white);
  background-color: var(--bg);
  font-size: 17px;
  overflow-x: hidden;
}

:root {
  --white: #fff;
  --bg: #030a1d;
  --dark: #040723;
  --light: #7bd0ff;
  --btn-1: #0f64fb;
  --btn-2: #fb2b0f;
  --box-s-btn: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;

  @media (max-width: 768px) {
    padding: 0 10px;
  }
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  color: var(--white);
  text-decoration: none;
}

button,
input {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  font-family: "Racing Sans One", cursive;
  font-size: 155px;
  font-weight: 400;
  text-shadow: 17px 29px #070a53;
  margin-top: 200px;
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: 1024px) {
    font-size: 110px;
    text-shadow: 9px 18px #070a53;
  }

  @media (max-width: 991px) {
    margin-top: 110px;
  }

  @media (max-width: 768px) {
    font-size: 71px;
    text-shadow: 6px 12px #070a53;
  }

  @media (max-width: 480px) {
    font-size: 45px;
    text-shadow: 5px 9px #070a53;
  }
}

h2 {
  text-align: center;
  font-size: 52px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 150px 0;

  @media (max-width: 991px) {
    font-size: 35px;
  }

  @media (max-width: 480px) {
    font-size: 27px;
    margin: 70px 0;
  }
}

h3 {
  color: var(--light);
  font-size: 36px;
  font-weight: 700;

  @media (max-width: 480px) {
    font-size: 27px;
  }
}

.main {
  overflow-x: hidden;
}

.btn-1,
.btn-2 {
  border-radius: 50px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 25px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.8px;
  text-align: center;
  cursor: pointer;

  @media (max-width: 480px) {
    width: 280px;
    margin: 0 auto;
  }
}

.btn-1 {
  background-color: var(--btn-1);
}
.btn-2 {
  background-color: var(--btn-2);
}

.section-bg {
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  z-index: -1;

  @media (max-width: 1400px) {
    top: 140px;
  }

  @media (max-width: 991px) {
    display: none;
  }
}
